body
{
	font: 15px arial, sans-serif;
}

.column
{
	float: left;
}

.vakje
{
  border: solid black 1px;
  width: 169px;
  height: 162px;
  float: left;
}

.vakje:hover
{
	background-color: #f0f0f0;
}

.vakjeKruis
{
  background-image: url("../img/playX.png");
}

.vakjeNul
{
	background-image: url("../img/playO.png");
}

.controls
{
  float: left;
}

.hide
{
  display: none;
}

.unhide
{
	display: block;
}

.buttonselect
{
  background-color: #00f000;
  font-color: #ffffff;
}

.buttonunselect
{
  background-color: none;
  font-color: none;
}

.grid
{
  width: 520px;
}
